$header-bg: #0f1d2d;
$text-color: #ffffff;
$text-color-black: #000000;
$main-color: #ff662d;
$btn-main-color: #ff662d;
$btn-sec-color: #ffffff;
$main-bg-color: #ffffff;
$secondary-bg-color: #e1efff;
$auth-form-bg: #ffffff;

$input-height: 40px;
$button-icon-size: 25px;

$header-height: 60px;
$footer-height: 60px;
